body {
 
 /* max-width: 600px; */
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
/*  font-size: 1.125em; */
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}
ul {
    padding: 0; /* per default chrome uses 40px to void hiding the list symbol. Since we never show this anyway...*/
}

.panel-heading h1,h2,h3,h4,h5,h5 {
    margin: 0;
}

a:hover {
  text-decoration: underline;
}
/* Calendar.cljs */
.clickable {
    cursor: pointer;
}

.calendar .day {
  stroke: #ccc;
  pointer-events: all;
}

.calendar .month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

/* tree.cljs */
.tree {
        
}
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:1.5em;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background: #FFF; /* FIXME must be the same as the parent background, else the border is visible*/
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}

.tree li span {
    cursor: pointer;
}
.tree li i {
    cursor: pointer;
}
.tree li button, .tree li button:active,{
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
					 }
.tree li .active{
    color:#fff;
    background:#369;
}

.dygraph-legend .highlight {
    border: 1px solid black;
}

svg.wind-rose text {
    text-anchor: middle;
}
svg .axes {
    stroke: #aaa;
    stroke-width: 0.5px;
    fill: none;
}
svg.wind-rose .tickmarks {
    fill: #888;
}
svg.wind-rose g.tickmarks>text {
  font-size: 10px;
  fill: #888;
}
svg.wind-rose .labels text {
  letter-spacing: 1px;
  fill: #444;
  font-size: 11px;
}
/* matrix */
.matrix .background {
  fill: #eee;
}
.matrix line {
  stroke: #fff;
  stroke-opacity: .5;
  shape-rendering: crispEdges;
}

.directed-graph path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

/* spinning css */
.glyphicon-spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* anomalies */
.undecided {
    border-color: #888;
    color: #888;
    opacity: 0.95;
}
.false-positive {
    border-color: #DDD;
    color: #DDD;
    opacity: 0.95;
}    


#footer {
  display: block;
  position: relative;
  color: #fff;
  margin: 20px 0 50px
}

#footer-bottom {
  display: block;
  position: relative;
  background-color: #00579d;
  height: 50px;
}
#footer-meta {
  display: block;
  position: absolute;
  top: 18px;
  left: 20px;
  height: 16px;
}


.anomaly>span {
    border-bottom: dashed black 1px;
}
.popover {
    max-width: none;
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}

.shadowed {
    box-shadow: 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23);
    border-radius: 2px;
    padding: 10px;
    margin: 0 10px 10px 0;
}

/* spinner animation */
.spinningCircle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,0);
    border-top-color: 4px solid #7fc4d1;
    border-right-color: 4px solid #7fc4d1;
    -webkit-animation: single2 4s infinite linear;
    animation: single2 4s infinite linear;
}

@-webkit-keyframes single2 {
    0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	border-top-color: #7fc4d1;
	border-right-color: #7fc4d1;
    }
    50% {
	border-top-color: #1f4f58;
	border-right-color: #1f4f58;
    }
    100% {
	-webkit-transform: rotate(720deg);
	transform: rotate(720deg);
	border-top-color: #7fc4d1;
	border-right-color: #7fc4d1;
    }
}

@keyframes single2 {
    0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	border-top-color: #7fc4d1;
	border-right-color: #7fc4d1;
    }
    50% {
	border-top-color: #1f4f58;
	border-right-color: #1f4f58;
    }
    100% {
	-webkit-transform: rotate(720deg);
	transform: rotate(720deg);
	border-top-color: #7fc4d1;
	border-right-color: #7fc4d1;
    }
}

/* chart specifics */
.lineChart canvas {
  outline: none !important; /* do not render border around canvas with focus */
}

table.re-frame-datatable thead th.sorted-by {
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC');
}

table.re-frame-datatable thead th.sorted-by.asc {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==');
}

table.re-frame-datatable thead th.sorted-by.desc {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ');
}
